<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
<!--     <form action="{{url_for('show_madlib')}}"> -->
    <form action="/madlib">
        Please pick the following:
        <br>
        <br>
        A person's name:
        <br>
        <input type="text" name="person">
        <br>
        A color:
        <br>
        <input type="text" name="color">
        <br>
        A noun:
        <br>
        <input type="text" name="noun">
        <br>
        An adjective:
        <br>
        <input type="text" name="adjective">
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>