<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
<!--     <form action="{{url_for('show_madlib')}}"> -->
    <form action="/madlib">
        Please pick the following:
        <br>
        <br>
        A person's name:
        <br>
        <input type="checkbox" name="person" value="Shirley Temple">Shirley Temple
        <br>
        <input type="checkbox" name="person" value="George Washington">George Washington
        <br>
        <br>
        A color:
        <br>
        <input type="checkbox" name="color" value="purple">purple
        <br>
        <input type="checkbox" name="color" value="red">red
        <br>
        <br>
        A noun:
        <br>
        <input type="checkbox" name="noun" value="cat">cat
        <br>
        <input type="checkbox" name="noun" value="dog">dog
        <br>
        <br>
        An adjective:
        <br>
        <input type="checkbox" name="adjective" value="playful">Playful
        <br>
         <input type="checkbox" name="adjective" value="adventurous">Adventurous
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>